@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(http://themes.googleusercontent.com/static/fonts/cookie/v4/pKcurCxn_Ato3MXK6jF2CA.ttf) format('truetype');
}
