<!DOCTYPE html>
<html>
<head>
	<title>Moments</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load compress %}
	{% compress css %}
	<link href='/static/css/cookie_font.css'   rel='stylesheet' type='text/css'>
	<link href='/static/css/vollkorn_font.css' rel='stylesheet' type='text/css'>
	<link href="/static/css/moments.css"       rel="stylesheet" type="text/css" />
	{% endcompress %}
	{% load compress %}
	{% compress js %}
	<script src="/static/js/jquery.min.js"        type="text/javascript"></script>
	<script src="/static/js/jquery.touchSwipe.js" type="text/javascript"></script>
	<script src="/static/js/mustache.js"          type="text/javascript"></script>
	<script src="/static/js/moments.js"           type="text/javascript"></script>
	{% endcompress %}

	{% verbatim %}
	<script type="template/mustache" id="moment_list_template">
		{{#moments}}
		<li>
			<div class="moment" idx="{{idx}}" event_id="{{#event}}{{id}}{{/event}}" style="background: url({{data_uri}});"></div>
		</li>
		{{/moments}}
	</script>
	<script type="template/mustache" id="moment_full_screen_template">
		{{#moment}}
		<div id="full_screen">
			<img class="full_screen_moment" src="/assets/{{image}}?width={{large_width}}" />
			<h5 id="moment_caption">
				{{current_idx}} / {{total_count}} {{#caption}}- {{caption}}{{/caption}}
			</h5>
		</div>
		{{/moment}}
	</script>
	<script type="template/mustache" id="error_template">
		<div id="error_block">
			<h2>Oh no! {{error}}</h2>
			{{#help}}
			<h5>{{help}}</h5>
			{{/help}}
		</div>
	</script>		
	{% endverbatim %}
</head>
<body>
	<div id="header_bar">
		<div id="home_title">Moments</div>
		<div id="event_title"></div>
		<div class="clear"></div>
	</div>
	<div id="viewport">
		<div id="content"></div>
	</div>
	<div id="loading">
		<img src="/static/img/preloader.gif" />
	</div>
</body>
</html>